body{
    font-family: Arial, sans-serif;
    background-color:#f3e4d6;
}
h1{
    font-size:1cm;
    color:#8B423B;
    text-align: center;
    font-weight:bold;
}
.lista{
    display: flex;
    flex-direction: row; 
    justify-content:space-between;
}
h2{
    color:#b66763;
    text-align: center;
    font-size: 0.75cm;
}
h3{
    color:#d68176; 
}
.conteudo-topo{
    width:70%;
    padding: 10px;
    margin-left:200px;
    margin-right:20px;
}
.conteudo-principal{ 
    width: 70%;
    padding:10px;
    margin-left:200px;
    margin-right:20px;
    text-align: justify;
}
.imagem{
    width:500px;
    border-radius:15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.tudo{
    border: solid #8B423B 3px;
    
}
.rodape{
    background-color:#b55f57;
    align-items: center;
    margin:0px;
    padding:0px;
    text-align: center;
}
#bordaRedonda{
  border-radius:15px;
  border: 2px solid #C0726E;
  padding: 15;
  width: 150px;
  height: 100x;
}
h4{
  margin-left:30px;
}
.imagem2{
    width:50px;
    margin-left:70px;
    border-radius:15px;
    margin-left: auto;
    margin-right: auto;
}
.imagem3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius:15px;
    width: 30%;
   }
#contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
