body{
    font-family: Arial, sans-serif;
    background-color:#f3e4d6 
}
h1{
    font-size:1cm;
    color:#8B423B;
    text-align: center;
    font-weight:bold;
}
h2{
    color:#b66763;
    text-align: center;
}
h3{
    color:#d68176; 
}
.conteudo-topo{ 
    width:70%;
    padding: 10px;
    margin-left:200px;
    margin-right:20px;
}
.conteudo-principal{ 
    width: 70%;
    padding:10px;
    margin-left:200px;
    margin-right:20px;
    text-align: justify;
}
.imagem{
    width:700px;
    margin-left:300px;
}
.tudo{
    border: solid #8B423B 3px;
    
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.rodape{
    marge:0px;
    padding:0px;
    background-color:#8B423B;
    text-align: justify;
     margin-left:30px;
}
#bordaRedonda{
  border-radius:15px;
  border: 2px solid #C0726E;
  padding: 15;
  width: 150px;
  height: 100x;
}
h4{
  margin-left:30px;
}
